# Игнорируем папку .vs (данные Visual Studio)
.vs/

# Игнорируем файлы для конфигурации и сборки
bin/
obj/

# Игнорируем файлы публикации
publish/

# Игнорируем временные файлы и кэш
*.user
*.suo
*.log
